.container {
    width: 200px;
    padding: 20px 0;
    height: calc(100vh - 102px);
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container ul li {
    padding: 15px 20px;
}


.container ul li a{
    text-decoration: none;
    color: black;
}


.container ul ul{
    padding-left: 15px;
}